body {
  background-color: #2f2519;
}

.App {
  background-color: #4a3f35;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}

.App .Title {
  font-size: 18px;
  background-color: aqua;
  color: crimson;
}

#Main input {
  background-color: #fa7d09;
  border: 0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  border-radius: 10px;
}

#Main input::placeholder {
  color: rgba(3, 0, 0, 0.68);
}

#Main input:focus{
  outline: none;
}

#Main button {
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color: #ff4301;
  cursor: pointer;
  font-weight: bolder;
}

#Main button:focus{
  outline: none;
}
